<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="English">
        <meta name="author" content="Alexandr Bogutskiy">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> Home • abogutskiy </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link href='https://fonts.googleapis.com/css?family=Public Sans' rel='stylesheet'>
        <link rel="shortcut icon" href="static/images/cat.png" type="image/png">
        <link rel="stylesheet" href = "/static/css/main.css">
    </head>

    <body>
        <div id="main_block">
            <h1 id="header">Alexandr Bogutskiy</h1>
            <div class="data_block" id="about_block">
                TeamLead at <a href=https://yandex.com/company/ class="silent_link with_link_symbol"><b style="color:brown">Y</b><b>andex</b></a><br>
                BSc in Applied mathematics and computer science from IFMO University
            </div>

            <div class="data_block" id="social_networks_block">
                <h3 class=list_header>Me on internet</h3>
                <ul class="links_list">
                    <li><a href=https://facebook.com/bogutskiy/ class="silent_link">facebook</a></li>
                    <li><a href=https://www.linkedin.com/in/abogutskiy/ class="silent_link">linkedin</a></li>
                    <li><a href=https://instagram.com/debug22/ class="silent_link">instagram</a></li>
                    <li><a href=https://twitter.com/debug22 class="silent_link">twitter</a></li>
                    <li><a href=https://www.reddit.com/user/debug22 class="silent_link">reddit</a></li>
                    <li><a href=https://news.ycombinator.com/user?id=abogutskiy class="silent_link">news.ycombinator</a></li>
                    <li><a href=https://lobste.rs/u/abogutskiy class="silent_link">lobster</a></li>
                </ul>
            </div>

<!--
            <div class="data_block" id="projects_block">
                <h3>Projects and repositories</h3>
                <ul>
                    <li><a href=https://gitlab.com/abogutskiy class="silent_link">gitlab</a></li>
                    <li>githab</li>
                </ul>
            </div>
-->

            <div class="data_block" id="contacts_block">
                <h3 class=list_header>Contacts</h3>
                <ul>
                    <li><a href=mailto:bogutskiy.alexandr@gmail.com class="silent_link">email</a></li>
                    <li><a href=https://telegram.me/abogutskiy class="silent_link">telegram</a></li>
                </ul>
            </div>
        </div>
        <div id="name_spelling_box">
            Alexandr Bogutskiy
            Alexander Bogutskiy
            Aleksandr Bogutskiy
            Aleksander Bogutskiy
            Aleksandr Bogutskii (legal)
       </div>
        <div id=debug_block>
            <a href="ru" class="silent_link" style="display: none">Русская версия сайта</a><br>
            Page loaded at: {{now | date "Mon Jan 2 15:04:05 MST 2006"}}
        </div>
    </body>
</html>
